html, body {
  height: 100%;
  width:100%;
  margin:0;
  font-size:18px;
  font-family: Optima, sans-serif;
}

a {
    text-decoration:none;
    color: dodgerblue;
}

#background {
  background-image:url(images/background.png);
  height:100%;
  width:100%;
  margin:0;
  overflow-y: scroll;
}

#foreground {
  background-color:white;
  max-width:700pt;
  margin:0 auto;
  min-height: 100%;
}

#main {
  padding: 10pt 50pt 50pt 50pt;
}
@media (max-width: 700px) {
  #main { padding: 10pt 9% 50pt 9%;  }
}

#header {
    margin-top: 20pt;
    width=100%;
    height=200pt;
    position:relative;
}

#header a {
    font-size: 20pt;
    color: black;
    margin-right: 10pt;
}

.line {
    border-top: 1px solid;
    margin-top: 7pt;
}

#page-title {
    font-weight: normal;
    font-size: 25px;
    margin-top: 10pt;
    margin-bottom: 5pt;
}

@media (prefers-color-scheme: dark) {
    #background {
        background: #333333;
    }
    #foreground {
        background: #121212;
        border-left: .01px solid #dddddd;
        border-right: .01px solid #dddddd;
        color: #dddddd;
    }
    #header a {
        color: #dddddd;
    }
}