#name_box {
    width:200pt;
    position:relative;
}

#pic {
    float:right;
    width:200px;
    margin-left:10px;
}
@media (max-width: 550px) {
  #pic { display:block; float:none; margin:0 auto;   }
  #about_text { display:inline-block; }
}

#about {
    padding-top:10pt;
    padding-bottom:10pt;
    width:100%;
}

.section-title {
    font-weight: bold;
    font-size: 15pt;
    margin-top: 10pt;
    margin-bottom: 5pt;
}

#class_list li {
    margin-top:0pt;
    margin-bottom:5pt;
}

#research_list li {
    margin-bottom: 10pt;
}

ul { margin-top: 0pt; }
h2 { font-weight: normal;}


.topnav {
    background-color: #E7E7E0;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #9A9298;
    color: white;
  }